@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 176 63% 92%;
    --foreground: 224 71% 4%;
    --card: 176 63% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 176 63% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 25 71% 65%;
    --primary-foreground: 25 71% 10%;
    --secondary: 178 40% 85%;
    --secondary-foreground: 178 47% 15%;
    --muted: 178 40% 88%;
    --muted-foreground: 178 40% 40%;
    --accent: 178 47% 80%;
    --accent-foreground: 178 47% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 178 30% 75%;
    --input: 176 60% 99%;
    --ring: 25 71% 65%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 20% 10%;
    --foreground: 176 63% 92%;
    --card: 220 20% 13%;
    --card-foreground: 176 63% 92%;
    --popover: 220 20% 10%;
    --popover-foreground: 176 63% 92%;
    --primary: 25 71% 65%;
    --primary-foreground: 25 71% 10%;
    --secondary: 178 47% 20%;
    --secondary-foreground: 178 47% 90%;
    --muted: 178 47% 15%;
    --muted-foreground: 178 47% 60%;
    --accent: 178 47% 25%;
    --accent-foreground: 178 47% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 178 47% 20%;
    --input: 178 47% 18%;
    --ring: 25 71% 65%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
